<template>
    <div id="app" class="app">
        <LoginForm/>
        <SignUpForm/>
        <RoomEditForm/>
        <RoomCreateModalForm/>
        <ProfileEditModalForm/>
        <Header/>
        <HomeBackground v-if="this.$route.name === 'home'"/>
        <el-container>
            <el-main>
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </el-main>
        </el-container>
    </div>
</template>

<script>
	import Header from './src/components/Header/Header';
	import LoginForm from './src/components/Forms/LoginForm';
	import SignUpForm from './src/components/Forms/SignUpForm';
	import RoomEditForm from './src/components/Forms/RoomEditForm';
	import RoomCreateModalForm from './src/components/Forms/RoomCreateModalForm';
	import ProfileEditModalForm from './src/components/Forms/ProfileEditModalForm';
	import HomeBackground from './src/components/Home/HomeBackground';

	export default {
		name: 'App',
		components: {
			Header,
			LoginForm,
			SignUpForm,
			HomeBackground,
			RoomEditForm,
			RoomCreateModalForm,
			ProfileEditModalForm
		},
		data() {
			return {};
		}
	};
</script>

<style scoped lang="scss">
    @import "styles/abstracts/variables";

    .el-main {
        display: flex;
        color: #333;
        text-align: center;
        line-height: 160px;
        padding: 0 80px;
        justify-content: center;
    }

    body > .el-container {
        margin-bottom: 40px;
        display: flex;
    }

    .background {
        height: 100vh;
        background-image: url("http://www.yellowkorner.com/dw/image/v2/AAVG_PRD/on/demandware.static/-/Sites-photo-catalog/default/dw54a3e502/URBAN/26/9926/image_20160928141535.jpg?sw=1160&sh=1160&sm=fit");
    }

    .fade-enter-active, .fade-leave-active {
        transition-property: opacity;
        transition-duration: .25s;
    }

    .fade-enter-active {
        transition-delay: .25s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>