<template>
    <el-form ref="form" :model="form" label-width="120px" class="booking-form">
        <div class="form__header">
            <p class="booking-form__room-price">${{room.price}}</p>
        </div>
        <hr>
        <div class="booking-form__dates">
            <p class="booking-form__dates__label">Dates</p>
            <el-date-picker
                    v-model="bookingDates"
                    type="daterange"
                    range-separator="To"
                    start-placeholder="Check in"
                    end-placeholder="Check out"
                    value-format="yyyy-MM-dd">
            </el-date-picker>
        </div>

        <el-button class="booking-form__button-submit" @click="bookRoom">Request to Book</el-button>
    </el-form>
</template>

<script>
	import {BOOKING_REQUEST} from '../../store/actions/booking.action';
	import eventBus from '../../utils/event-bus';
	import {mapGetters} from 'vuex';

	export default {
		name: "BookingForm",
		data() {
			return {
				form: {},
				bookingDates: '',
				loginVisible: false,
				signUpVisible: false,
			};
		},
		computed: {
			...mapGetters(['getProfile', 'isAuthenticated'])
		},
		props: ['room'],
		methods: {
			showLoginForm() {
				this.loginVisible ? eventBus.$emit('loginVisible', false) : eventBus.$emit('loginVisible', true);
				this.loginVisible ? this.loginVisible = false : this.loginVisible = true;
			},
			bookRoom: function () {
				if (!this.isAuthenticated) {
					this.loginVisible ? eventBus.$emit('loginVisible', false) : eventBus.$emit('loginVisible', true);
					this.loginVisible ? this.loginVisible = false : this.loginVisible = true;
				} else {
					const data = {
						guest_id: this.getProfile.id,
						room_id: this.room.id,
						check_in: this.bookingDates[0],
						check_out: this.bookingDates[1]
					};
					this.$store.dispatch(BOOKING_REQUEST, data).then(() => {
					});
				}
			},
		}
	};
</script>

<style scoped lang="scss">
    .el-form {
        width: max-content;
        margin: 0 20px;
        border: 1px #c0c4cc78 solid;
        border-radius: 5px;
        padding: 0 30px;
    }

    .form {
        display: inline-flex;
        flex-direction: column;
        &__header {
            .booking-form__room-price {
                line-height: 3.5em;
                text-align: left;
                margin: 0;
                font-weight: 600;
                font-size: 24px;
                &::after {
                    content: 'per night';
                    font-weight: 400;
                    font-size: 14px;
                    color: #606266;
                    margin-left: 5px;
                }
            }
        }
    }

    .booking-form {
        width: 450px;
        &__dates {
            display: inline-flex;
            flex-direction: column;
            &__label {
                border-top: 2px;
                color: #909399;
                margin: 10px 0;
                font-size: 14px;
                line-height: normal;
                text-align: left;
            }
        }
    }

    .booking-form__button-submit {
        width: 100%;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(192, 196, 204, 0.47059);
        padding: 0;
        margin: 1em 0 -30px;
    }

    .el-range-separator {
        width: 10% !important;
    }

    .el-form-item__content {
        margin: 0;
    }

</style>