<template>
    <el-dialog
            title="Log In"
            :visible.sync="loginVisible"
            width="30%" class="login-form">
        <el-form ref="dynamicValidateForm" :model="dynamicValidateForm" label-width="120px">
            <el-form-item
                    prop="email"
                    label="Email"
                    :rules="[
      { required: true, message: 'Please input email address', trigger: 'blur' },
      { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
    ]">
                <el-input v-model="dynamicValidateForm.email"></el-input>
            </el-form-item>
            <el-form-item label="Password" prop="password">
                <el-input type="password" v-model="dynamicValidateForm.password" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="login">Submit</el-button>
                <el-button>Cancel</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>

<script>
	import {AUTH_REQUEST} from '../../store/actions/auth.action';
	import eventBus from '../../utils/event-bus';

	export default {
		name: 'LoginForm',
		data() {
			return {
				dynamicValidateForm: {
					email: '',
					password: '',
				},
				loginVisible: this.showLoginForm() || false
			};
		},
		methods: {
			login: function () {
				const credentials = {
					email: this.dynamicValidateForm.email,
					password: this.dynamicValidateForm.password
				};
				this.$store.dispatch(AUTH_REQUEST, credentials).then(() => {
					$(".login-form .el-icon-close").click();
				});
			},
			showLoginForm() {
				eventBus.$on('loginVisible', payload => {
					this.loginVisible = payload;
				});
			}
		}
	};

</script>

<style scoped>

</style>