<template>
    <el-dialog
            title="Edit Profile"
            :visible.sync="editProfileFormVisible"
            width="30%" class="edit-profile-form">
        <el-form ref="form" :model="form" label-width="120px" class="edit-profile-form">
            <div class="fields">
                <el-input placeholder="Name" v-model="form.name"/>
                <el-input placeholder="Email" prop="email" v-model="form.email"/>
            </div>
            <el-button class="room-form__button-submit" @click="updateProfile">Update Profile</el-button>
        </el-form>
    </el-dialog>
</template>

<script>
	import eventBus from '../../utils/event-bus';
	import {UPDATE_PROFILE} from '../../store/actions/user.action';
	import {mapGetters} from 'vuex';

	export default {
		name: 'EditProfileModalForm',
		data() {
			return {
				form: {
					name: '',
					email: '',
				},
				editProfileFormVisible: this.showEditProfileForm() || false
			};
		},
		computed: {
			...mapGetters(['getProfile'])
		},
		methods: {
			showEditProfileForm() {
				eventBus.$on('editProfileVisible', payload => {
					this.editProfileFormVisible = payload;
					this.setUser();
				});
			},
			updateProfile() {
				const data = {
					name: this.form.name,
					email: this.form.email
				};
				this.$store.dispatch(UPDATE_PROFILE, data).then(() => {
					$(".edit-profile-form .el-icon-close").click();
				});
			},
			setUser() {
				this.form.name = this.getProfile.name;
				this.form.email = this.getProfile.email;
			}
		}
	};

</script>

<style scoped lang="scss">
    .el-form {
        width: max-content;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .form {
        display: inline-flex;
        flex-direction: column;
        &__header {
            display: flex;
            p {
                line-height: 3.5em;
                text-align: left;
                margin: 0;
                font-weight: 600;
                font-size: 24px;
                color: #484848;
            }
        }
    }

    .edit-profile-form {
        width: 100%;
        &__label {
            border-top: 2px;
            color: #909399;
            margin: 10px 0;
            font-size: 14px;
            line-height: normal;
            text-align: left;
        }
    }

    .edit-profile-form__button-submit {
        width: 100%;
        line-height: 2em;
        margin-bottom: 2em;
    }

    hr {
        display: inline-block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(192, 196, 204, .47059);
        padding: 0;
        margin: 0;
    }

    .el-range-separator {
        width: 10% !important;
    }

    .el-form-item__content {
        margin: 0;
    }

    .el-input__inner {
        height: 3.5em;
    }

    .fields {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: 170px;
    }
</style>