<template>
    <el-dialog
            title="Edit Room"
            :visible.sync="roomEditFormVisible"
            width="30%" class="room-edit-form">
        <el-form ref="dynamicValidateForm" :model="dynamicValidateForm" label-width="120px">
            <el-form-item prop="title" label="Title">
                <el-input v-model="dynamicValidateForm.title"></el-input>
            </el-form-item>
            <el-form-item label="Location" prop="location">
                <el-input v-model="dynamicValidateForm.location"></el-input>
            </el-form-item>
            <el-form-item label="Price" prop="price">
                <el-input v-model="dynamicValidateForm.price"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="this.editRoom">Save</el-button>
                <el-button @click="this.closeForm">Cancel</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>

<script>
	import {UPDATE_ROOM} from '../../store/actions/rooms.action';
	import eventBus from '../../utils/event-bus';
	import {mapGetters} from 'vuex';

	export default {
		name: "RoomEditForm",
		props: {room: Object},
		data() {
			return {
				dynamicValidateForm: {
					title: '',
					location: '',
					price: '',
					id: ''
				},
				roomEditFormVisible: this.showRoomEditForm() || false,
			};
		},
		computed: {
			...mapGetters(['getProfile', 'isAuthenticated', 'getRoomById'])
		},
		methods: {
			showRoomEditForm() {
				eventBus.$on('roomEditFormVisible', payload => {
					this.roomEditFormVisible = payload[0];
					this.dynamicValidateForm.id = payload[1];
					this.setRoom(payload[1]);
				});
			},
			editRoom() {
				const data = {
					title: this.dynamicValidateForm.title,
					location: this.dynamicValidateForm.location,
					price: this.dynamicValidateForm.price,
					id: this.dynamicValidateForm.id,
				};
				this.$store.dispatch(UPDATE_ROOM, data).then(() => {
					this.closeForm();
				});
			},
			closeForm() {
				$(".room-edit-form .el-icon-close").click();
			},
			setRoom(id) {
				const room = this.getRoomById(id);
				this.dynamicValidateForm.title = room.title;
				this.dynamicValidateForm.location = room.location;
				this.dynamicValidateForm.price = room.price;
			}
		},
	};
</script>

<style scoped lang="scss">


</style>