<template>
    <el-form ref="form" :model="form" label-width="120px" class="room-form">
        <div class="form__header">
            <p>List Your Space</p>
        </div>
        <hr>
        <div class="fields">
            <el-input placeholder="Title" v-model="form.title"/>
            <el-input placeholder="Location" v-model="form.location"/>
            <el-input placeholder="Price (in $)" v-model="form.price"/>
        </div>
        <el-button class="room-form__button-submit" @click="createRoom">List your Space</el-button>
    </el-form>
</template>

<script>
	import {CREATE_ROOM} from '../../store/actions/rooms.action';
	import eventBus from '../../utils/event-bus';
	import {mapGetters} from 'vuex';

	export default {
		name: "RoomCreateForm",
		data() {
			return {
				form: {
					title: '',
					location: '',
					price: '',
				},
				loginVisible: false,
				signUpVisible: false,
			};
		},
		computed: {
			...mapGetters(['getProfile', 'isAuthenticated'])
		},
		props: ['room'],
		methods: {
			showLoginForm() {
				this.loginVisible ? eventBus.$emit('loginVisible', false) : eventBus.$emit('loginVisible', true);
				this.loginVisible ? this.loginVisible = false : this.loginVisible = true;
			},
			createRoom: function () {
				if (!this.isAuthenticated) {
					this.loginVisible ? eventBus.$emit('loginVisible', false) : eventBus.$emit('loginVisible', true);
					this.loginVisible ? this.loginVisible = false : this.loginVisible = true;
				} else {
					const data = {
						host_id: this.getProfile.id,
						title: this.form.title,
						location: this.form.location,
						price: this.form.price,
					};
					this.$store.dispatch(CREATE_ROOM, data).then(() => {
					});
				}
			},
		}
	};
</script>

<style scoped lang="scss">
    .el-form {
        width: max-content;
        border: 1px #c0c4cc78 solid;
        border-radius: 5px;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    .form {
        display: inline-flex;
        flex-direction: column;
        &__header {
            display: flex;
            p {
                line-height: 3.5em;
                text-align: left;
                margin: 0;
                font-weight: 600;
                font-size: 24px;
                color: #484848;
            }
        }
    }

    .room-form {
        width: 450px;
        &__dates {
            display: inline-flex;
            flex-direction: column;
            &__label {
                border-top: 2px;
                color: #909399;
                margin: 10px 0;
                font-size: 14px;
                line-height: normal;
                text-align: left;
            }
        }
    }

    .room-form__button-submit {
        width: 100%;
        line-height: 2em;
        margin-bottom: 2em;
    }

    hr {
        display: inline-block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(192, 196, 204, .47059);
        padding: 0;
        margin: 0;
    }

    .el-range-separator {
        width: 10% !important;
    }

    .el-form-item__content {
        margin: 0;
    }

    .el-input__inner {
        height: 3.5em;
    }

    .fields {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: 250px;
    }

</style>