<template>
    <el-dialog
            title="Sign Up"
            :visible.sync="signUpVisible"
            width="30%">
        <el-form ref="dynamicValidateForm" :model="dynamicValidateForm" label-width="120px">
            <el-form-item label="Name" prop="name">
                <el-input v-model="dynamicValidateForm.name" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="email" label="Email"
                          :rules="[
      { required: true, message: 'Please input email address', trigger: 'blur' },
      { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
    ]">
                <el-input v-model="dynamicValidateForm.email"></el-input>
            </el-form-item>
            <el-form-item label="Password" prop="password">
                <el-input type="password" v-model="dynamicValidateForm.password" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="Password Confirmation" prop="password-confirmation">
                <el-input type="password" v-model="dynamicValidateForm.passwordConfirmation"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="signUp">Submit</el-button>
                <el-button>Cancel</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</template>

<script>
	import {SIGN_UP_REQUEST} from '../../store/actions/signup.action';
	import eventBus from '../../utils/event-bus';

	export default {
		name: 'SignUpForm',
		data() {
			return {
				dynamicValidateForm: {
					name: '',
					email: '',
					password: '',
					passwordConfirmation: ''
				},
				signUpVisible: this.showSignUpForm()
			};
		},
		methods: {
			signUp: function () {
				const data = {
					name: this.dynamicValidateForm.name,
					email: this.dynamicValidateForm.email,
					password: this.dynamicValidateForm.password,
					password_confirmation: this.dynamicValidateForm.passwordConfirmation
				};
				this.$store.dispatch(SIGN_UP_REQUEST, data).then(() => {
					this.$router.push('/');
				});
			},
			showSignUpForm() {
				eventBus.$on('signUpVisible', payload => this.signUpVisible = payload);
			}
		}
	};


</script>

<style scoped>

</style>