<template>
    <div class="explore">
        <h1>Explore Earthbnb</h1>

        <el-row :gutter="20" class="places">
            <el-col :span="5" class="place">
                <router-link :to="{ name: 'discover', params: { location: 'Paris, France' }}">
                    <el-card :body-style="{ padding: '0px', height: '100%' }" class="card">
                        <img src="../../../assets/images/discover-paris.jpg" class="image">
                        <div class="place__location">
                            <span>Paris, France</span>
                        </div>
                    </el-card>
                </router-link>
            </el-col>
            <el-col :span="5" class="place">
                <router-link :to="{ name: 'discover', params: { location: 'San Francisco, CA' }}">
                    <el-card :body-style="{ padding: '0px', height: '100%' }" class="card">
                        <img src="../../../assets/images/discover-sf.jpg" class="image">
                        <div class="place__location">
                            <span>San Francisco, CA</span>
                        </div>
                    </el-card>
                </router-link>
            </el-col>
            <el-col :span="5" class="place">
                <router-link :to="{ name: 'discover', params: { location: 'Manhattan, NY' }}">
                    <el-card :body-style="{ padding: '0px', height: '100%' }" class="card">
                        <img src="../../../assets/images/discover-ny.jpg" class="image">
                        <div class="place__location">
                            <span>Manhattan, NY</span>
                        </div>
                    </el-card>
                </router-link>
            </el-col>
        </el-row>
    </div>
</template>

<script>
	export default {
		name: "Explore"
	};
</script>

<style scoped lang="scss">
    h1 {
        color: #484848;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .image {
        width: 35%;
        display: flex;
        height: 100%;
        object-fit: cover;
    }

    .clearfix:after {
        clear: both
    }

    .places {
        display: flex;
    }

    .place {
        height: 80px;
        &__location {
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            padding-left: 20px;
            font-weight: 600;
            color: #484848;
        }
        .card {
            width: 100%;
        }
        a {
            display: flex;
            height: 100%;
            text-decoration: none;
        }
    }


</style>