<template>
    <div class="fullscreen__bg fullscreen__bg-home">
        <div class="home">
            <h1 class="home__title-1">Escape from everything,</h1>
            <h1 class="home__title-2">somewhere else.</h1>
        </div>
    </div>
</template>

<script>
	export default {
		name: "HomeBackground",
	};
</script>

<style scoped lang="scss">
    h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 400;
        display: flex;
        height: max-content;
        margin: 10px 0;
    }

    .fullscreen__bg-home {
        background-image: url("../../../assets/images/home-bg.jpg");
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .home {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__title-1 {
            margin-right: 5%;
        }
        &__title-2 {
            margin-left: 20%;
        }
    }
</style>