<template>
    <div>
        <Explore/>
        <Rooms/>
    </div>
</template>

<script>
	import Rooms from '../Home/Rooms';
    import Explore from '../Home/Explore';

	export default {
		name: 'Home',
		components: {
			Rooms,
            Explore
		}
	};
</script>

<style scoped>

</style>