<template>
    <el-col :span="4" class="room-item">
        <router-link :to="{ name: 'room', params: { id: room.id }}">
            <el-card :body-style="{ padding: '0px' }" class="room room__image" shadow="hover"
                     :style="{backgroundImage: roomBgImage }">
            </el-card>
            <div class="room__description">
                <p class="room__location">{{room.location}}</p>
                <p class="room__title">{{room.title}}</p>
                <p class="room__price">${{room.price}} per night</p>
            </div>
        </router-link>
    </el-col>
</template>

<script>
	export default {
		name: 'RoomItem',
		props: {room: Object},
		data() {
			return {
				roomBgImage: this.findImage()
			};
		},
		methods: {
			findImage() {
				let roomImage = _.find(this.room.images, {}, 0);
				return 'url(' + roomImage.img_url + ')';
			}
		}
	};
</script>

<style scoped lang="scss">
    @import "../../../styles/abstracts/variables";
    a {
        text-decoration: none;
    }
    .room-item{
        height: 400px;
    }

    .room {
        height: 200px;
        &__image {
            background-size: cover;
        }
        &__description {
            flex-direction: column;
            display: flex;
            line-height: normal;
            color: #484848;
            text-align: left;
            margin-bottom: 30px;
        }
        &__title {
            font-size: $title-text;
            margin: 0;
            color: #484848;
            padding-top: 0;
        }
        &__location {
            text-transform: uppercase;
            margin-bottom: 0.2em;
            font-size: $mini-text;
            font-weight: 600;
        }
        &__price {
            font-weight: 100;
            color: #909399;
            font-size: $body-text--small;
            margin-top: 0.3em;
        }
    }

    .room > * {
        display: flex;
    }

</style>