<template>
    <div class="rooms">
        <h1>Homes around the world</h1>
        <el-row :gutter="20" class="rooms">
            <room-item v-for="(rooms, index) in getRooms" :key="index" :room="rooms"/>
        </el-row>
    </div>
</template>
<script>
	import RoomItem from './RoomItem';
	import {mapGetters} from 'vuex';

	export default {
		name: 'Rooms',
		components: {
			RoomItem
		},
		computed: {
			...mapGetters(['getRooms'])
		},
	};
</script>
<style lang="scss">
    @import "../../../styles/abstracts/variables";
    h1 {
        text-align: left;
        color: #484848;
        font-size: 30px;
        font-weight: 600;
        line-height: normal;
        padding-top: 40px;
    }
    .rooms {
        display: flex;
        flex-flow: row wrap;
    }
</style>