<template>
    <ais-index
            app-id="SCRZ6X4CX2"
            api-key="96965e8cbbe291934f64bab7a230ef0f"
            index-name="Room_development"
    >
        <ais-search-box/>
        <ais-results v-show="result.length > 0">
            <template slot-scope="{ result }">
                <p>
                    <ais-highlight :result="result" attribute-name="location"/>
                </p>
            </template>
        </ais-results>
    </ais-index>
</template>

<script>
	export default {
		name: "SearchBarHome"
	};

</script>

<style scoped lang="scss">

</style>