<template>
    <div class="host">
        <section class="fullscreen-bg">
            <el-container class="inside-container">
                <div class="left__content">
                    <div class="left__content__title">
                        Become an Earthbnb host
                    </div>
                </div>
                <div class="right__content">
                    <RoomCreateForm/>
                </div>
            </el-container>
        </section>
    </div>
</template>

<script>
	import RoomCreateForm from '../Forms/RoomCreateForm';
	import {mapGetters} from 'vuex';

	export default {
		name: "Host",
		components: {
			RoomCreateForm
		},
		computed: {
			...mapGetters(['getProfile', 'isAuthenticated'])
		}
	};
</script>

<style scoped lang="scss">
    .host {
        height: 100%;
        width: 100%;
    }

    .fullscreen-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("../../../assets/images/become-a-host-bg.jpg");
        width: 100vw;
        height: 100vh;
        margin: 0 -80px;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
    }

    .inside-container {
        display: flex;
        width: 100%;
        margin: 150px 300px 0;
        flex-direction: row;
        justify-content: center;
    }

    .left__content {
        align-self: flex-start;
        margin: auto;
        padding-bottom: 350px;
        &__title {
            color: #fff;
            font-weight: 500;
            font-size: 56px;
            line-height: 1.5em;
            border-bottom: 5px solid white;
        }
    }

    .right__content {
        align-self: flex-end;
        margin: auto;
        padding-bottom: 250px;
    }



</style>