<template>
    <el-carousel height="85vh" :interval=10000 class="fullscreen__bg room__carousel-container">
        <el-carousel-item v-for="image in roomImages" :key="image.id">
            <div class="el-carousel__image parallax" :style="{backgroundImage: 'url(' + image.img_url +')' }"></div>
        </el-carousel-item>
    </el-carousel>
</template>

<script>
	export default {
		name: 'RoomBackgroundSlider',
		props: ['roomImages']
	};

</script>

<style scoped lang="scss">
    .el-carousel {
        width: 100vw;
        margin-left: -80px;
        margin-right: -80px;
        z-index: 10;
        perspective: 10px;
    }

    .el-carousel__image {
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .parallax {
        background-attachment: fixed;
    }

    .el-carousel__container {
        height: 85vh;
        width: 100vw;
    }
</style>