<template>
    <div>
        <RoomBackgroundSlider :roomImages="room.images"/>
        <section class="room">
            <div class="room__content">
                <h1 class="room__title">{{room.title}}</h1>
                <p class="room__location">{{room.location}}</p>
            </div>
            <BookingForm :room="room"/>
        </section>

    </div>
</template>
<script>
	import {mapGetters} from 'vuex';
	import RoomBackgroundSlider from './RoomBackgroundSlider';
	import BookingForm from '../Forms/BookingForm';

	export default {
		name: 'RoomPage',
		components: {
			RoomBackgroundSlider,
			BookingForm
		},
		computed: {
			...mapGetters(['getRooms', 'getRoomById']),
			room: function () {
				return this.getRoomById(this.$route.params.id);
			}
		},
	};
</script>

<style scoped lang="scss">
    .room {
        width: 60%;
        display: inline-flex;
        margin: 0 20px;
        justify-content: space-between;
        margin-top: 5.67em;
        &__content {
            display: inline-flex;
            flex-direction: column;
            float: left;
            width: 70%;
        }
        &__title {
            line-height: 1.25em;
            margin: 0;
            font-weight: 600;
            font-size: 38px;
        }
        &__location {
            margin: 0;
            height: max-content;
            color: #909399;
            text-align: left;
            line-height: 2em;
            font-weight: 100;
        }
    }

</style>