<template>
    <section class="listings">
        <el-row class="listing">
            <listing-item v-for="(rooms, index) in getUserRooms(this.getProfile.id)" :key="index" :room="rooms"/>
        </el-row>
    </section>
</template>

<script>
	import ListingItem from './ListingItem';
	import {mapGetters} from 'vuex';
	export default {
		name: 'Listing',
		components: {
			ListingItem
		},
		computed: {
			...mapGetters(['getUserRooms', 'getProfile'])
		},
	};

</script>

<style scoped>
    .listings {
        width: 60%;
        display: inline-flex;
        justify-content: space-between;
        margin-top: 5.67em;
    }
</style>