<template>
    <el-col :span="24">
        <el-card class="box-card">
            <div slot="header" class="clearfix card__header">
                <el-button style="float: right; padding: 3px 0" type="text" class="listing__edit-button"
                           icon="el-icon-edit-outline" @click="showEditRoomForm(room.id)"/>
                <el-button style="float: right; padding: 3px 0" type="text" class="listing__delete-button"
                           icon="el-icon-close" @click="deleteRoom"/>
            </div>
            <div class="listing__room">
                <p class="listing__room__location">{{room.location}}</p>
                <p class="listing__room__title">{{room.title}}</p>
                <p class="listing__room__price">{{room.price}}</p>
            </div>
            <div class="listing__room__image" :style="{backgroundImage: roomBgImage }"></div>
        </el-card>
    </el-col>
</template>

<script>
	import {DELETE_ROOM} from '../../store/actions/rooms.action';
	import RoomEditForm from '../Forms/RoomEditForm';
	import eventBus from '../../utils/event-bus';

	export default {
		name: "listingItem",
		components: {
			RoomEditForm
		},
		props: {room: Object},
		data() {
			return {
				roomEditFormVisible: false,
				roomBgImage: this.findImage()
			};
		},
		methods: {
			findImage() {
				let roomImage = _.find(this.room.images, {}, 0);
				return 'url(' + roomImage.img_url + ')';
			},
			formatDate(date) {
				return moment(date).format("dddd, MMMM Do YYYY");
			},
			deleteRoom() {
				const data = {
					id: this.room.id
				};
				this.$store.dispatch(DELETE_ROOM, data).then(() => {
				});
			},
			showEditRoomForm(roomId) {
				this.roomEditFormVisible ? eventBus.$emit('roomEditFormVisible', [false, roomId]) : eventBus.$emit('roomEditFormVisible', [true, roomId]);
				this.roomEditFormVisible ? this.roomEditFormVisible = false : this.roomEditFormVisible = true;
			}
		}
	};
</script>

<style scoped lang="scss">
    .clearfix {
        display: flex;
        flex-direction: row;
    }

    .listing {
        width: 100%;
        &__room {
            display: inline-flex;
            flex-direction: column;
            width: 640px;
            justify-content: flex-start;
            padding: 0 40px 0 0;
            &__title {
                line-height: 3em;
                text-align: left;
            }
            &__location {
                text-align: left;
                line-height: 2em;
                font-size: 28px;
                margin: 0;
            }
            &__price {
                text-align: left;
                line-height: 2em;
                font-size: 28px;
                margin: 0;
            }
            &__image {
                background: no-repeat;
                display: flex;
                background-size: cover;
                height: 300px;
                width: 500px;
                border-radius: 5px;
            }
        }
    }

    .bottom {
        margin-top: 13px;
        line-height: normal;
        border-top: 1px solid #ebeef5;
    }

    .h {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 200;
        margin: 0 40px;
        padding-bottom: 20px;
    }

    .box-card {
        display: flex !important;
        flex-direction: column;
    }

    .box-card > * {
        display: flex !important;
    }

    .el-col {
        margin: 30px 0;
    }

    .card__header {

    }

    .listing__delete-button {
        font-size: 25px;
        color: #F56C6C;
    }

    .listing__edit-button {
        font-size: 25px;
        color: #409EFF;
    }
</style>