<template>
    <div class="rooms">
        <el-row :gutter="20" class="rooms__row">
            <room-item v-for="(rooms, index) in getAllRooms($route.params.location)" :key="index" :room="rooms"/>
        </el-row>
        <Mapbox/>
    </div>
</template>

<script>
	import Mapbox from './Mapbox';
	import RoomItem from './RoomItem';
	import {mapGetters} from 'vuex';
	import eventBus from '../../utils/event-bus';

	export default {
		name: "Discover",
		components: {
			Mapbox,
			RoomItem
		},
		computed: {
			...mapGetters(['getRoomsByLocation', 'getRooms'])
		},
		methods: {
			getAllRooms(location) {
				if (_.isEmpty(this.getRoomsByLocation(location))) {
					return this.getRooms;
				}
				return this.getRoomsByLocation(location);
			},
			addGeoJson() {
				let rooms = this.getAllRooms(this.$route.params.location);
				rooms.forEach(room => {
					eventBus.$emit('geoJson', [room.lng, room.lat]);
				});
			}
		}
	};
</script>

<style scoped lang="scss">
    .rooms {
        display: flex;
        height: calc(100vh - 90px);
        width: 56vw;
        margin-top: 90px;
        margin-left: 0;
        margin-right: 43em;
        overflow: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar {
            display: none;
        }
        &__row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 100%;
        }
    }

</style>