<template>
    <div>
        <div id="map"></div>
    </div>
</template>

<script>
	import MapboxGL from 'mapbox-gl';
	import 'mapbox-gl/dist/mapbox-gl.css';
	import eventBus from '../../utils/event-bus';

	export default {
		name: "Mapbox",
		data() {
			return {
				geoJson: eventBus.$on('geoJson', payload => {
					this.addGeoJson(payload[0], payload[1]);
				}),
				flyTo: eventBus.$on('flyToEvent', payload => {
					this.flyToLocation(payload[0], payload[1]);
				}),
                markers: ''
			};
		},
		mounted() {
			this.createMap();
		},
		methods: {
			createMap() {
				MapboxGL.accessToken = 'pk.eyJ1IjoiYWxhc3NhbmVjb2x5IiwiYSI6ImNqZ3ZjejI0azB6cGwyd21veHBxbXB5d2EifQ.fSice3g7luhDvZUuEgxxKw';
				this.map = new MapboxGL.Map({
					container: 'map',
					style: 'mapbox://styles/mapbox/light-v9'
				});
				this.map.on('load', () => {
					this.$parent.addGeoJson();
				});
			},
			addGeoJson(lng, lat) {

				new MapboxGL.Marker({
					color: '#ff6d6d'
				}).setLngLat([lng, lat]).addTo(this.map);
			},
			flyToLocation(lng, lat) {
				this.map.flyTo({
					center: [lng, lat],
					zoom: 2,
					speed: 1,
					curve: 1,
					easing(t) {
						return t;
					}
				});
			}
		},
		watch: {
			$route() {

				this.$parent.addGeoJson();
			}
		}
	};
</script>

<style scoped>
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
    }
</style>