<template>
    <el-col :span="7" class="room-item" :data-lng="room.lng" :data-lat="room.lat" @mouseenter="flyTo">
        <router-link :to="{ name: 'room', params: { id: room.id }}">
            <el-card :body-style="{ padding: '0px' }" class="room room__image" shadow="hover"
                     :style="findImage">
            </el-card>
            <div class="room__description">
                <p class="room__location">{{room.location}}</p>
                <p class="room__title">{{room.title}}</p>
                <p class="room__price">${{room.price}} per night</p>
            </div>
        </router-link>
    </el-col>
</template>

<script>
	import eventBus from '../../utils/event-bus';

	export default {
		name: 'RoomItem',
		props: {room: Object},
		methods: {
			flyTo() {
				eventBus.$emit('flyToEvent', [this.$el.getAttribute('data-lng'), this.$el.getAttribute('data-lat')]);
			}
		},
		computed: {
			findImage() {
				return 'background-image: url(' + this.room.images[0].img_url + ')';
			},
		}
	};
	setTimeout(() => {

	}, 1000);
</script>

<style scoped lang="scss">
    @import "../../../styles/abstracts/variables";

    a {
        text-decoration: none;
    }

    .room-item {
        height: 325px;
    }

    .room {
        height: 200px;
        &__image {
            background-size: cover;
        }
        &__description {
            flex-direction: column;
            display: flex;
            line-height: normal;
            color: #303133;
            text-align: left;
        }
        &__title {
            font-size: $title-text;
            margin: 0;
            color: #303133;
        }
        &__location {
            text-transform: uppercase;
            margin-bottom: 0.2em;
            font-size: $mini-text;
            font-weight: 600;
        }
        &__price {
            font-weight: 100;
            color: #b5b9bf;
            font-size: 14px;
            margin-top: 0.3em;
        }
    }

    .room > * {
        display: flex;
    }

</style>