.el-card__body {
  display: flex;
  justify-content: space-between;
}

.el-card__header {
  line-height: normal;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}
.el-range-separator {
  width: 10%;
}