.home__search-bar {
  &__input {
    background-color: transparent;
  }
  &__clear-button {
    display: none;
  }
}

.ais-input {
  background-color: transparent;
  border: #fff 2px solid;
  border-radius: 0.5em;
  height: 3em;
  width: 25em;
}

.ais-index {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 20em;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

.header--transparent {
  .ais-input {
    color: #fff !important;
    &::placeholder{
      color: #ffffffab !important;
    }
  }
}
.header {
  .ais-input {
    display: flex;
    border-radius: 0.2em;
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, .15);
    color: #303133;
    padding: 0 20px;
    background-color: transparent;
    border: #fff 2px solid;
    height: 2.2em;
    width: 18em;
    &::placeholder{
      color: #3031335e;
    }
  }
  input[type="search"]{
    font-size: 22px;
  }
  .ais-index {
    height: 100%;
    position: relative;
    form {
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: transparent;
    }
  }
  .ais-search-box__submit, .ais-clear {
    display: none;
  }

  .ais-results {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 40px;
    border: 1px solid #DCDFE6;
    width: 100%;
    top: 70px;
    a{
      text-decoration: none;
    }
    p {
      font-size: 16px;
      color: #303133;
    }
  }
}