@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;


}
@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;

}
@font-face {
  font-family: 'montserrat';
  font-weight: 400;
}

@font-face {
  font-family: 'montserrat';
  font-weight: 700;
   }

@font-face {
  font-family: 'montserrat';
  font-weight: 300;
   }



