<template>
    <ais-index
            app-id="SCRZ6X4CX2"
            api-key="96965e8cbbe291934f64bab7a230ef0f"
            index-name="Room_development"
            :auto-search="false"
            :query-parameters="{
	            distinct: true
            }"
    >
        <ais-search-box placeholder="Search a place to go..."/>
        <ais-results>
            <template slot-scope="{ result }">
                <router-link :to="{ name: 'discover', params: { location: result.location }}">
                    <p>
                        <ais-highlight :result="result" attribute-name="location"/>
                    </p>
                </router-link>
            </template>
        </ais-results>
    </ais-index>
</template>

<script>
	export default {
		name: "HeaderSearchBar"
	};
	setTimeout(() => {
		$('.header .ais-input').on('keyup', function () {
			$('.header .ais-results').hide();
			if (!$(this).val()) {
				$('.header .ais-results').hide();
			} else {
				$('.header .ais-results').show();
			}


		});
		$('.header .ais-input').on('focusout', function () {
			setTimeout(() => {
				$('.header .ais-results').hide();
			},200);
		});
		$('.header .ais-input').on('focus', function () {
			$('.header .ais-results').show();
		});

	}, 500);
</script>

<style scoped>

</style>