<template>
    <el-menu :default-active="activeIndex" class="header header--transparent" mode="horizontal">
        <div class="flex flex--start">
            <div class="header__logo header__logo--white">
                <router-link :to="{ name: 'home'}">Earthbnb</router-link>
            </div>
            <HeaderSearchBar/>
        </div>
        <div class="flex flex--end">
            <el-menu-item index="1" class="header__text header__text--white">
                <router-link :to="{ name: 'discover', params: { location: null }}">
                    Discover
                </router-link>
            </el-menu-item>
            <el-menu-item index="2" class="header__text header__text--white" v-if="!userHasRooms">
                <router-link :to="{ name: 'host' }">
                    Become a host
                </router-link>
            </el-menu-item>
            <el-submenu index="3" class="header__text header__text--white" v-if="isAuthenticated && userHasRooms">
                <template slot="title" class="header__text header__text--white">Listing</template>
                <router-link :to="{ name: 'listing'}">
                    <el-menu-item index="3-1">View your listings</el-menu-item>
                </router-link>
                <el-menu-item index="3-2" @click="showAddRoomForm()">Add listing</el-menu-item>
            </el-submenu>
            <el-menu-item index="4" class="header__text header__text--white" type="text" v-if="isAuthenticated">
                <router-link :to="{ name: 'trips'}">
                    Trips
                </router-link>
            </el-menu-item>
            <el-submenu index="5" class="header__text header__text--white" v-if="isAuthenticated">
                <template slot="title" class="header__text header__text--white">Profile</template>
                <el-menu-item index="5-1" @click="showEditProfileForm">
                    Edit your profile
                </el-menu-item>
                <el-menu-item index="5-2" @click="logout">
                    Logout
                </el-menu-item>
            </el-submenu>
            <el-menu-item index="6" class="header__text header__text--white" type="text" v-if="!isAuthenticated"
                          @click="showLoginForm()">
                Login
            </el-menu-item>
            <el-menu-item index="7" v-if="!isAuthenticated" class="header__button header__button--grd-1"
                          @click="showSignUpForm()">
                Sign Up
            </el-menu-item>
        </div>
    </el-menu>
</template>

<script>
	import {mapGetters, mapState} from 'vuex';
	import {AUTH_LOGOUT} from '../../store/actions/auth.action';
	import eventBus from '../../utils/event-bus';
	import HeaderSearchBar from './HeaderSearchBar';

	export default {
		name: 'Header',
		components: {
			HeaderSearchBar
		},
		data() {
			return {
				loginVisible: false,
				signUpVisible: false,
				addRoomFormVisible: false,
				transparentHeader: eventBus.$on('transparentHeader', payload => {
					this.changeHeaderTransparency(payload);
				}),
				activeIndex: '1'
			};
		},
		computed: {
			...mapGetters(['getProfile', 'isAuthenticated', 'isProfileLoaded', 'getUserRooms']),
			...mapState({
				authLoading: state => state.auth.status === 'loading',
				name: state => `${state.user.profile.title} ${state.user.profile.name}`,
			}),
			userHasRooms() {
				return !(_.isEmpty(this.getUserRooms(this.getProfile.id)));
			}
		},
		methods: {
			logout() {
				this.$store.dispatch(AUTH_LOGOUT)
					.then((resolve) => {
						resolve;
					});
			},
			showLoginForm() {
				this.loginVisible ? eventBus.$emit('loginVisible', false) : eventBus.$emit('loginVisible', true);
				this.loginVisible ? this.loginVisible = false : this.loginVisible = true;
			},
			showSignUpForm() {
				this.signUpVisible ? eventBus.$emit('signUpVisible', false) : eventBus.$emit('signUpVisible', true);
				this.signUpVisible ? this.signUpVisible = false : this.signUpVisible = true;
			},
			showAddRoomForm() {
				this.addRoomFormVisible ? eventBus.$emit('addRoomFormVisible', false) : eventBus.$emit('addRoomFormVisible', true);
				this.addRoomFormVisible ? this.addRoomFormVisible = false : this.addRoomFormVisible = true;
			},
			showEditProfileForm() {
				this.editProfileVisible ? eventBus.$emit('editProfileVisible', false) : eventBus.$emit('editProfileVisible', true);
				this.editProfileVisible ? this.editProfileVisible = false : this.editProfileVisible = true;
			},
			changeHeaderTransparency(payload) {
				if (payload === true) {
					$('.header').addClass('header--transparent');
					$('.header__text').addClass('header__text--white').removeClass('header__text--black');
					$('.header__logo').addClass('header__logo--white').removeClass('header__logo--black');
					$('.el-submenu__title')[0].style.setProperty('color', '#fff', 'important');
					$('.el-submenu__title')[1].style.setProperty('color', '#fff', 'important');
				} else {
					$('.header').removeClass('header--transparent');
					$('.header__text').addClass('header__text--black').removeClass('header__text--white');
					$('.header__logo').addClass('header__logo--black').removeClass('header__logo--white');
					$('.el-submenu__title')[0].style.setProperty('color', '#000', 'important');
					$('.el-submenu__title')[1].style.setProperty('color', '#000', 'important');
				}
			}
		}
	};
</script>

<style scoped lang="scss">
    @import "../../../styles/abstracts/variables";

    .el-menu a {
        text-decoration: none;
    }

    .header {
        display: flex;
        height: 90px !important;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: 0;
        z-index: 99;
        position: fixed;
        border: none;
        padding: 0 80px;
        background-color: #fff;
        transition: all 0.2s;
        a {
            text-decoration: none;
            color: #fff;
        }
        &--transparent {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        }
        &__logo {
            font-family: $primary-font;
            font-size: 40px;
            display: flex;
            text-transform: lowercase;
            padding-right: 80px;
            &--white, &--white a {
                color: #FFFFFF;
                transition: all 1s;
            }
            &--black, &--black a {
                color: #f75d5d;
                transition: all 1s;
            }
        }
        &__text {
            font-size: $title-text--small;
            &--white, &--white a {
                color: #FFFFFF !important;
                transition: all 1s;
            }
            &--black, &--black a {
                color: #303133 !important;
                transition: all 1s;
            }
        }
        &__button {
            color: $white;
            border: none;
            border-radius: 30px;
            height: 56px;
            &:hover {
                color: $white;
            }
            &--grd-1 {
                background-image: $grd-1;
                box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.50);
                width: 120px;
                font-size: $main-title-text;
                text-align: center;
            }
        }
        &__input {
            height: 50px;
            width: 200px;
        }
    }

    .flex {
        &--end {
            align-content: flex-end;
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 65em;
        }
        &--start {
            align-content: flex-start;
            align-items: center;
            display: flex;
            width: 100%;
        }
    }

</style>