<template>
    <el-col :span="24">
        <el-card class="box-card">
            <div slot="header" class="clearfix card__header">
                <el-button style="float: right; padding: 3px 0" type="text" class="trip__delete-button"
                           icon="el-icon-close" @click="deleteTrip"></el-button>
            </div>
            <div class="trip__room">
                <p class="trip__room__location">{{trip.room.location}}</p>
                <p class="trip__room__title">{{trip.room.title}}</p>
                <div class="clearfix bottom">
                    <p class="trip__date"> {{this.formatDate(trip.check_in)}}
                        <span class="trip__check-in">Check in</span>
                    </p>
                    <p class="h">></p>
                    <p class="trip__date">{{this.formatDate(trip.check_out)}}
                        <span class="trip__check-out">Check out</span>
                    </p>
                </div>
            </div>
            <div class="trip__room__image" :style="{backgroundImage: roomBgImage }"></div>
        </el-card>
    </el-col>
</template>

<script>
	import moment from 'moment';
	import {TRIPS_DELETE} from '../../store/actions/trip.action';

	export default {
		name: "TripItem",
		props: {trip: Object},
		data() {
			return {
				roomBgImage: this.findImage()
			};
		},
		methods: {
			findImage() {
				let roomImage = _.find(this.trip.room.images, {}, 0);
				return 'url(' + roomImage.img_url + ')';
			},
			formatDate(date) {
				return moment(date).format("dddd, MMMM Do YYYY");
			},
			deleteTrip() {
				const data = {
					id:  this.trip.id
                };
				this.$store.dispatch(TRIPS_DELETE, data).then(() => {
				});
			}
		}
	};
</script>

<style scoped lang="scss">
    .clearfix {
        display: flex;
        flex-direction: row;
    }

    .trip {
        width: 100%;
        &__room {
            display: inline-flex;
            flex-direction: column;
            width: 640px;
            justify-content: space-between;
            padding: 0 40px 0 0;
            &__title {
                line-height: 3em;
                text-align: left;
                margin: -40px 0 0;
            }
            &__location {
                text-align: left;
                line-height: 2em;
                font-size: 28px;
                margin: 0;
            }
            &__image {
                background: no-repeat;
                display: flex;
                background-size: cover;
                height: 300px;
                width: 500px;
                border-radius: 5px;
            }
        }
        &__date {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        &__check-in, &__check-out {
            display: flex;
            line-height: 2em;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    .bottom {
        margin-top: 13px;
        line-height: normal;
        border-top: 1px solid #ebeef5;
    }

    .h {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 200;
        margin: 0 40px;
        padding-bottom: 20px;
    }

    .box-card {
        display: flex !important;
        flex-direction: column;
    }

    .box-card > * {
        display: flex !important;
    }

    .el-col {
        margin: 30px 0;
    }

    .card__header {

    }

    .trip__delete-button {
        font-size: 25px;
        color: #F56C6C;
    }
</style>