<template>
    <section class="trips">
        <el-row class="trip">
            <trip-item v-for="(trips, index) in getTrips" :key="index" :trip="trips"/>
        </el-row>
    </section>
</template>

<script>
    import TripItem from './TripItem';
    import {mapGetters} from 'vuex';

	export default {
		name: 'Trips',
		components: {
			TripItem
		},
		computed: {
			...mapGetters(['getTrips'])
		},
	};

</script>

<style scoped>
    .trips {
        width: 60%;
        display: inline-flex;
        justify-content: space-between;
        margin-top: 5.67em;
    }
</style>